@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

.navbar-brand .img {
  width: 100px; }

.navbar-nav .nav-item a {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem; }
  .navbar-nav .nav-item a:focus {
    color: orange; }

/* carousel */
.carousel-item {
  height: 55vh;
  font-size: 30px; }
  .carousel-item .carousel-caption h5 {
    font-size: 50px;
    background-color: #2e54fa;
    opacity: 0.4;
    color: #fff; }
  .carousel-item .carousel-caption h6 {
    font-size: 50px;
    color: rgba(24, 2, 2, 0.863);
    background-color: #fff;
    opacity: 0.4; }
  .carousel-item img {
    width: 100px; }
    .carousel-item img:hover {
      filter: blur(5px); }

/* Cards con Servicios */
.row .nuestrosServicios {
  font-size: 3rem;
  color: #080808;
  background-color: #cadcf3;
  text-align: center;
  background-color: rgba 255, 0, 0, 0.4;
  padding: 2rem; }

.card {
  margin: 10px;
  border-radius: 30px;
  border: 2px solid rgba(14, 55, 131, 0.404); }
  .card .card-title {
    padding: 1rem;
    border: dotted 2px rgba(14, 55, 131, 0.404); }
  .card img {
    width: 250px;
    margin-top: 1rem; }
    .card img:hover {
      filter: opacity(0.8); }
  .card a {
    color: #fff;
    background-color: #0b51e5;
    background-image: linear-gradient(49deg, #0b51e5 0%, #90ccf0 71%); }
  .card .btn:hover {
    transform: scale(1, 1.1);
    transition: opacity 1;
    transition: 3seg; }
    .card .btn:hover:focus {
      background: rgba(2, 7, 24, 0.123);
      color: #0597aa;
      font-weight: 3px; }

/* footer */
footer {
  height: 25hg;
  font-family: "Open Sans";
  margin-top: 3rem; }
  footer .footer-content {
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #111;
    opacity: 5px;
    color: #fff;
    opacity: 0.5; }
    footer .footer-content .h3Footer {
      font-size: 2rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem; }
    footer .footer-content p {
      max-width: 500px;
      margin: 10px suto;
      line-height: 28px;
      font-size: 1.2rem; }
    footer .footer-content .redes {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 1 rem 0; }
      footer .footer-content .redes a {
        text-decoration: none;
        margin: 2rem;
        color: #fff; }
        footer .footer-content .redes a:hover i {
          color: aqua; }
  footer .fondo-footer {
    background: #111;
    opacity: 80%;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    color: #fff; }

/* responsive designe media queries mobile last */
/* mobile last - max-widht */
@media (max-width: 768px) {
  .carousel-inner {
    overflow: auto; }
    .carousel-inner .carousel-item {
      height: 40vh;
      font-size: 15px; }
      .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 1000px; }
      .carousel-inner .carousel-item .carousel-caption h6 {
        font-size: 1rem; } }

.card {
  margin: 3rem; }

* {
  margin: 0;
  padding: 0pc; }

.nosotros {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: solid 16px #8beffc;
  align-items: center;
  height: 100vh; }
  .nosotros .sobreNosotros {
    margin: 2rem;
    color: white;
    background-color: #3e0acc;
    width: 50rem;
    text-align: center; }
  .nosotros p {
    border: 15px black;
    border-radius: 15px;
    width: 50rem;
    margin: 3rem; }
  .nosotros img {
    width: 500px;
    margin: 2rem; }
  .nosotros .contactanos {
    max-width: 120px;
    padding: 1rem;
    margin: .5rem;
    border-radius: 15px; }

* {
  margin: 0;
  padding: 0; }

/* DISEÑO FORMULARIO DE CONTACTO */
.form {
  position: relative;
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh; }
  .form h3 {
    font-size: 2rem;
    margin: 2rem; }
  .form div {
    display: flex;
    flex-direction: column;
    margin: 3rem; }
    .form div input {
      height: 2.5rem;
      width: 350px;
      border-radius: 15px;
      background-color: #c6c6c6;
      text-align: center;
      margin-top: 1rem; }
      .form div input:hover {
        background-color: #111;
        color: #fff; }
    .form div .submit {
      animation-name: cambioColor;
      animation-duration: 10s;
      animation-iteration-count: infinite; }

/* Animaciones - keyframes */
@keyframes cambioColor {
  0% {
    background-color: #0011ff; }
  25% {
    background-color: aquamarine; }
  50% {
    background-color: #5a7ef7; }
  100% {
    background-color: #2658e2; } }

/* responsive designe media queries mobile last */
/* mobile last - max-widht */
@media (max-width: 768px) {
  .carousel-item h5 {
    font-size: 15px;
    background-color: #2e54fa;
    opacity: 0.4;
    color: #fff; }
  .carousel-inner {
    overflow: auto; }
  .carousel-item {
    max-height: 40vh; }
  .card {
    margin: .3rem; } }
