* {
    margin: 0;
    padding: 0;
}

/* footer */

footer {
    height: 25vh;
    font-family: "Open Sans";
    margin-top: 3rem;

    .footer-content {
        margin-top: 3rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #111;
        opacity: 5px;
        color: #fff;
        opacity: 0.5;

        .h3Footer {
            font-size: 2rem;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 3rem;
        }

        p {
            max-width: 500px;
            margin: 10px suto;
            line-height: 28px;
            font-size: 1.2rem;
        }

        .redes {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 1 rem 0;

            a {
                text-decoration: none;
                margin: 2rem;
                color: #fff;

                &:hover i {
                    color: aqua;
                }
            }
        }
    }
    .fondo-footer {
        background: #111;
        opacity: 80%;
        width: 100vw;
        padding: 20px 0;
        text-align: center;
        color: #fff;
    }
}

/* responsive designe media queries mobile last */
/* mobile last - max-widht */   

@media (max-width: 768px) {
footer {
    .footer-content{
    margin-top: 31rem;
    }
  }
}
