* {
    margin: 0;
    padding: 0;
}

//logo//
.navbar-brand {
    .img {
        width: 100px;
    }
}

//LINKS DEL NAV//
.navbar-nav {
    .nav-item {
        a {
            @include link-nav(black, 1rem);
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            &:focus {
                color: orange;
            }
        }
    }
}

/* carousel */

.carousel-inner {
    .carousel-item {
        height: 70vh;
        font-size: 30px;

        &:hover {
            filter: blur(5px);
        }

        .carousel-caption {
            h5 {
                font-size: 50px;
                background-color: rgb(46, 84, 250);
                opacity: 0.4;
                color: #fff;
            }

            h6 {
                font-size: 50px;
                color: rgba(54, 54, 54, 0.9);
                background-color: rgba(77, 74, 74, 0.623);
                
            }
        }
    }
}

/* Cards con Servicios */

    .nuestrosServicios {
        @extend %titulo;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
        }

    }

/* responsive designe media queries mobile last */
/* mobile last - max-widht 768px*/

@media (max-width: 768px) {

    .carousel-inner {
        overflow: auto;
        height: 50vh;

        .carousel-item {
            img {
                height: 42vh;
            }

            .carousel-caption {
                h5 {
                    font-size: 20px;
                    text-align: center;
                }

                h6 {
                    font-size: 15px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}

/* responsive designe media queries mobile last */
/* mobile last - max-widht 375px*/

@media (max-width: 375px) {
    .carousel-inner {
        overflow: auto;
        height: 50vh;

        .carousel-item {
            img {
                height: 42vh;
            }

            .carousel-caption {
                h5 {
                    font-size: 20px;
                    width: 100%;
                    justify-content: center;
                }

                h6 {
                    font-size: 15px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}

    .nuestrosServicios {
        text-align: center;

        .row {
            justify-content: center;
            margin: 0;
        }

    }