* {
    margin: 0;
    padding: 0;
}

Section {

    h1 {
        @extend %titulo;
    }

    h2 {
        @extend %titulo2;
    }

    .reformas {
        height: 45vh;
        display: flex;
        flex-direction: column;
        border-top: solid 12px rgb(45, 4, 192);
        flex-direction: row;
        align-items: flex-start;

        img {
            max-width: 600px;
            margin: 3rem;

            &:hover {
                filter: opacity(.8);
            }
        }

        p {
            max-width: 450px;
            @extend %estiloParrafo;

            span {
                color: orangered;
                font-size: 25px;
                font-weight: 100;
            }

            .contactanos {
                margin-top: 0.5rem;
                @extend %button;
                @include btn-contactanos(rgb(45, 103, 211), white);
            }
        }
    }
}

/* responsive designe media queries mobile last */
/* mobile last - max-widht 768px*/
@media (max-width: 768px) {
    Section {
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        .reformas {
            margin-top: 1rem;
            flex-direction: column;
            height: 90vh;
            align-items: center;

            img {
                max-width: 500px;
            }

        }

    }
}

/* responsive designe media queries mobile last */
/* mobile last - max-widht 375px*/

@media (max-width: 375px) {
    Section {
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        .reformas {
            margin-top: 1rem;
            flex-direction: column;
            height: 98vh;
            align-items: center;

            img {
                max-width: 300px;
            }

        }

    }
}